<p>checkout-login-form works!</p>

<form [formGroup]="form">
    <span>Email: </span><input type="email" formControlName="email"><br>
    <span *ngIf="(email && email.dirty && !email.valid) ?? true" style="color: red;">Invalid email<br></span>

    <span>Password: </span><input type="password" formControlName="password"><br>
    <span *ngIf="(password && password.dirty && !password.valid) ?? true" style="color: red;">Invalid Password<br></span>

    <button [disabled]="!form.valid || isLoading" (click)="signInClicked()">{{ !isLoading ? 'sign in' : 'loading' }}</button><br>
    <button [disabled]="!form.valid || isLoading" (click)="registerClicked()">{{ !isLoading ? 'register' : 'loading' }}</button><br>
    <span *ngIf="error" style="color: red;">{{ error.code }} {{ error.message }}</span>
</form>