<p>experiences works!</p>

<ng-container [ngSwitch]="helloWorld">
    <ng-container *ngSwitchCase="undefined">
        <ng-container *ngTemplateOutlet="loading"></ng-container>
    </ng-container>
    <p *ngSwitchDefault>response from the helloWorld cloud function: {{ helloWorld }}</p>
</ng-container>

<ng-container [ngSwitch]="isLoggedIn">
    <ng-container *ngSwitchCase="undefined">
        <ng-container *ngTemplateOutlet="loading"></ng-container>
    </ng-container>
    <app-experiences-login-form *ngSwitchCase="false"></app-experiences-login-form>
    <app-experiences-user *ngSwitchCase="true"></app-experiences-user>
</ng-container>

<ng-template #loading>
    <span>Loading</span>
</ng-template>